@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400&family=Nunito+Sans:wght@400;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Karla', sans-serif;
}

body {
    width: 100%;
    height: 100vh;
}

#grid-body-main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px 650px 450px 125px;
    grid-template-areas: 
    "he he"
    "ma ma"
    "re fu"
    "fo fo";
}

header {
    width: 100%;
    background-color: #3a886a;
    grid-area: he;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: static;
    border-bottom: 1px solid #2a624c;
}

nav {
    display: flex;
    justify-content: space-evenly;
    width: 550px;
    align-items: center;
    font-size: 1.25rem;
    color: white;
}

nav a {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

nav a::after {
    content: '';
    width: 0%;
    height: 1.5px;
    background: white;
    display: block;
    margin: auto;
    transition: 0.5s;
}

nav a:hover::after {
    width: 100%
}

.menu-div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 120px;
    cursor: pointer;
    
}

nav a, .menu-div {
    font-size: 1.15rem;
}

.logo {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 275px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 800;
    color: white;
    margin: 1.5rem;
    cursor: pointer;
    text-decoration: none;
}


.logo img {
    width: 55px;
    height: auto;
}

.logo h2 {
    font-size: 2rem;
}

.main-article {
    background-image: url("../img/animals/panda-in-tree.jpg");
    background-repeat: no-repeat, repeat;
    background-position: center;
    background-size: cover;
    grid-area: ma;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.main-book-now {
    background-color: white;
    display: flex;
    width: 450px;
    height: 500px;
    margin-right: 12.5rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 8px #545454;
}

.main-book-now h1 {
    font-size: 3rem;
}

.main-book-now p {
    text-align: center;
    margin-top: 20px;
    margin-left: 45px;
    margin-right: 45px;
}

button {
    background-color: #3a886a;
    color: white;
    border: none;
    padding: 17px 40px 17px 40px;
    border-radius: 10px;
    margin-top: 40px;
    font-size: 1.1rem;
    font-weight: 700;
    transition: 0.3s;
}

button:hover {
    padding: 20px 43px 20px 43px;
    font-size: 1.3rem;
    opacity: 60%;
    margin-top: 30px;
    
}

button:active {
    opacity: 90%;
}

.restaurant-info-article {
    grid-area: re;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 25px;
}


.restaurant-info {
    display: flex;
    margin: 20px 40px 30px 40px;
    justify-content: center;
    align-items: top;
    padding-left: 10px;
    line-height: 1rem;
}

.restaurant-info-article h2 {
    font-size: 2.5rem;
}

.restaurant-info img {
    width: 280px;
    height: auto;
    margin-left: 40px;
}

.future-events {
    grid-area: fu;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 25px;
    padding-right: 25px;
    padding-left: 25px;
}

.future-events h2 {
    font-size: 2.5rem;
}

#future-events-grid {
    display: grid;
    grid-template-rows: repeat(3, 90px);
    row-gap: 7px;
    margin: 30px 20px 0px 20px;
}

.event {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(240 235 227);
}

.event p {
    margin: 20px;
}

footer {
    background-color: #3a886a;
    grid-area: fo;
    display: flex;
    justify-content: space-between;
    color: white;
    border-top: 1px solid #2a624c;
}

.social-media {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 60px;
    height: 100%;
    font-size: 1rem;
}

.social-media img {
    width: 40px;
    height: auto;
    margin-right: 5px;
    margin-bottom: 3px;
    cursor: pointer;
}

footer ul {
    list-style: none;
    display: flex;
    width: 400px;
    justify-content: space-between;
    align-items: center;
    margin-right: 60px;
    cursor: pointer;
}


/* Restaurant */

#restaurant-grid-body-main {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100px 1000px 125px;
    grid-template-areas: 
    "he"
    "ma"
    "fo";
}

#our-menu-article {
    grid-area: ma;
    width: 100%;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#our-menu-article h1 {
    font-size: 2.5rem;
}

#menu-grid-body {
    margin-top: 20px;
    margin-left: 200px;
    margin-right: 200px;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 70px;
}

.food-item {
    text-align: center;
}

.food-item img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    margin-bottom: 10px;
}

.food-item p {
    margin: 10px 10px 0 10px;
}


/* Find us */

#grid-body-find-us {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 50px 75% 125px;
    grid-template-areas: 
    "he he"
    "ti ti"
    "ar ar"
    "fo fo";
}

#find-us-title {
    grid-area: ti;
    display: flex;
    justify-content: center;
    font-size: 2rem;
    margin-top: 20px;
}

#find-us-article {
    grid-area: ar;
    display: flex;
    margin: 70px 70px 0 70px;
}

#find-us-article img {
    width: 550px;
    height: 625px;
    object-fit: cover;
    margin-right: 80px;
}

.suggestions {
    background-color: rgb(240 235 227);
    width: 100%;
    height: 95%;
    padding-right: 60px;
    padding-left: 60px;
    padding-top: 30px;
}

.suggestions h2 {
    text-align: center;
    margin-bottom: 5px;
}

.suggestions p {
    margin-bottom: 30px;
}